---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Co je identita?">
  <div class="services_section layout_padding">
    <div class="container">
      <h1 class="services_taital">Co je identita?</h1>
      <p class="many_taital">
        Podle <a
          href="https://cs.wikipedia.org/wiki/Erik_Erikson"
          style="text-decoration: underline !important; color: #0056b3 !important"
          target="_blank">Erika Eriksona</a
        > je identita JEDNOTA OSOBNOSTI.
      </p>
      <p class="many_taital">
        Jde o VĚRNOST SOBĚ, VĚRNOST POSLÁNÍ, VĚRNOST HODNOTÁM
      </p>
      <br />
      <p class="many_taital" style="font-style: italic; padding-top: 2rem">
        Téma Identita bude doplněno po konferenci.
      </p>
    </div>
  </div>
</Layout>
