---
import Layout from "../layouts/Layout.astro";

const subText =
  "Vítejte na stránkách k tématu IDENTITA. Najdete zde informace k tématu, nabídky formací a kurzů a také pomoc pro ty, kteří jihledají.";
---

<Layout title="Krize identity">
  <div class="banner_section layout_padding">
    <div class="container">
      <div id="costum_slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <h1 class="furniture_text">IDENTITA</h1>
            <p class="there_text">
              {subText}
            </p>
            <br />
            <br />
            <p class="there_text" style="font-size: 22px">Co je to identita?</p>
            <div class="contact_bt_main">
              <div class="contact_bt">
                <a href="/identita">Číst dále</a>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <h1 class="furniture_text">IDENTITA</h1>
            <p class="there_text">
              {subText}
            </p>
            <br />
            <br />
            <p class="there_text" style="font-size: 22px">Hledáte informace?</p>
            <div class="contact_bt_main">
              <div class="contact_bt">
                <a href="/informace">Číst dále</a>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <h1 class="furniture_text">IDENTITA</h1>
            <p class="there_text">
              {subText}
            </p>
            <br />
            <br />
            <p class="there_text" style="font-size: 22px">
              Hledáte svou vlastní formaci?
            </p>
            <div class="contact_bt_main">
              <div class="contact_bt">
                <a href="/kurzy">Číst dále</a>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <h1 class="furniture_text">IDENTITA</h1>
            <p class="there_text">
              {subText}
            </p>
            <br />
            <br />
            <p class="there_text" style="font-size: 22px">Hledáte pomoc?</p>
            <div class="contact_bt_main">
              <div class="contact_bt">
                <a href="/pomoc">Číst dále</a>
              </div>
            </div>
          </div>
        </div>
        <a
          class="carousel-control-prev"
          href="#costum_slider"
          role="button"
          data-slide="prev"
        >
          <i class=""><img src="/images/left-arrow.png" /></i>
        </a>
        <a
          class="carousel-control-next"
          href="#costum_slider"
          role="button"
          data-slide="next"
        >
          <i class=""><img src="/images/right-arrow.png" /></i>
        </a>
      </div>
    </div>
  </div>
  <div class="services_section layout_padding">
    <div class="container">
      <h1 class="services_taital">Jaké odkazy nabízíme?</h1>

      <div class="services_section2 layout_padding">
        <div class="row">
          <div class="col-lg-4 col-sm-12">
            <h2 class="furnitures_text">Přednášky</h2>
            <p class="dummy_text">
              Odkazy k informacím, přednáškám a&nbsp;konferencím
            </p>
            <div class="read_bt_main">
              <div class="read_bt"><a href="/informace">Číst dále</a></div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-12">
            <h2 class="furnitures_text">Kurzy</h2>
            <p class="dummy_text">
              Odkazy k osobním kurzům, programům a&nbsp;formacím
            </p>
            <div class="read_bt_main">
              <div class="read_bt"><a href="#">Číst dále</a></div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-12">
            <h2 class="furnitures_text">Pomoc</h2>
            <p class="dummy_text">
              Odkazy k poradnám, psychologům a&nbsp;weby nabizejíci uzdravení
              identity
            </p>
            <div class="read_bt_main">
              <div class="read_bt"><a href="#">Číst dále</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
