---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Informace">
  <div class="services_section layout_padding">
    <div class="container">
      <h1 class="services_taital">Informace</h1>
      <p class="many_taital">
        K tématu identita najdete na následujících odkazech
      </p>
      <div class="m-5">
        <img
          src="images/kppp.jpg"
          width="500px"
          class="m-auto d-block shadow"
        />
      </div>
      <p class="many_taital">
        Křesťanská pedagogicko-psychologická poradna v Praze vydala podklady pro
        práci s žáky s nejistotou v pohlavní identitě. Můžete si o ně napsat na
        adresu <a
          href="mailto:imlaufova@kppp.cz"
          style="text-decoration: underline !important; color: #0056b3 !important"
          >imlaufova@kppp.cz</a
        > . Jde o text poskytující teoretické ukotvení a doporučení pro školy.
      </p>
      <br />
      <p class="many_taital font-weight-bold">
        Jak pracovat s tématem identita? Napoví vám následující weby:
      </p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <a
            href="https://zastolom.sk"
            style="text-decoration: underline !important; color: #0056b3 !important"
            target="_blank">zastolom.sk</a
          > WEB doprovázející rodiny na cestě víry. Chce manželům pomáhat v růstu
          v harmonii a v jednotě s Kristem a rodičům ve výchově.
        </li>
        <li class="list-group-item">
          <a
            href="https://rodinnyzivot.cz"
            style="text-decoration: underline !important; color: #0056b3 !important"
            target="_blank">rodinnyzivot.cz</a
          >
        </li>
      </ul>
      <p class="many_taital" style="font-style: italic; padding-top: 2rem">
        Další informace k tématu budou postupně doplňovány.
      </p>
    </div>
    <div class="services_section layout_padding">
      <div class="container">
        <h1 class="services_taital">PŘEDNÁŠKY</h1>
        <p class="many_taital" style="font-style: italic; padding-top: 2rem">
          Přednášky k tématu identita budou zveřejněny po konferenci.
        </p>
      </div>
    </div>
  </div>
</Layout>
