---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Kurzy">
  <div class="services_section layout_padding">
    <div class="container">
      <h1 class="services_taital">PROGRAM - KURZY - FORMACE</h1>
      <p class="many_taital">
        Pro <a
          href="/pro-mladez"
          style="text-decoration: underline !important; color: #0056b3 !important"
        >
          MLÁDEŽ
        </a>
      </p>
      <p class="many_taital">
        Pro <a
          href="/pro-muze"
          style="text-decoration: underline !important; color: #0056b3 !important"
        >
          MUŽE
        </a>
      </p>
      <p class="many_taital">
        Pro <a
          href="/pro-zeny"
          style="text-decoration: underline !important; color: #0056b3 !important"
        >
          ŽENY
        </a>
      </p>
      <p class="many_taital">
        Centra pro <a
          href="/pro-rodinu"
          style="text-decoration: underline !important; color: #0056b3 !important"
        >
          RODINU
        </a>
        nabízí různé programy pro všechny zde uvedené skupiny
      </p>
      <p class="many_taital">
        Projekty podporující <a
          href="/pro-manzelstvi"
          style="text-decoration: underline !important; color: #0056b3 !important"
        >
          MANŽELSTVÍ a VZTAHY
        </a>
      </p>
    </div>
  </div>
</Layout>
