---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Pomoc">
  <div class="services_section layout_padding">
    <div class="container">
      <h1 class="services_taital">Pomoc</h1>

      <p class="many_taital" style="font-style: italic; padding-top: 2rem">
        Téma Identita bude doplněno po konferenci.
      </p>
    </div>
  </div>
</Layout>
