---
interface Props {
  items: Array<{
    name: string;
    web: string;
    oblast?: string;
    details?: string;
  }>;
  showOblast?: boolean;
  showDetails?: boolean;
}

const { items, showOblast = true, showDetails = false } = Astro.props;
---

<table class="table table-striped">
  <thead>
    <tr>
      {showOblast && <th scope="col">Oblast</th>}
      <th scope="col">Web</th>
      {showDetails && <th scope="col" />}
    </tr>
  </thead>
  <tbody>
    {
      items.map(({ oblast, name, web, details }) => (
        <tr>
          {showOblast && <td>{oblast ?? ""}</td>}
          <td>
            <a
              href={web}
              target="_blank"
              style="text-decoration: underline !important; color: #0056b3 !important"
            >
              {name}
            </a>
          </td>
          {showDetails && <td>{details ?? ""}</td>}
        </tr>
      ))
    }
  </tbody>
</table>
